*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color:#000000;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#ff0787;
}

html{
    font-size:60%;
    overflow-x:hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background:rgba(0, 0, 0, 0.285);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:5;
}

.navbar a{
    font-size: 1.8rem;
    color:var(--text-color);
    margin-left: 8rem;
    margin-right: 8rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover, .navbar a:active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
    
}
.home{
    display: flex;
    align-items: center;
    padding: 0  9%;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.home-content .text-animation h3{ 
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 5.6rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}
.home-content h1{
    font-size: 6rem;
    font-weight: 600;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content .text-animation{
    position: relative;
    width: 32.8rem;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 45vw;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: #000000;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: #000000;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background: var(--second-bg-color);
}

.education h1{
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.education-box .education-content::before{
     content:'';
     position: absolute;
     top:0;
     left: -1.1rem;
     width: 2rem;
     height: 2rem;
     background-color: var(--main-color);
     border-radius: 50%;
     
} 
 
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
    z-index: 1;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4b0027a2; 
    z-index: -1;
    transition: 0.5s;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

 .skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
 }
 .skills h1{
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
 }
 .skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap:5rem;
 }
 .skills-row .skills-column{
    flex:1 1 40rem;
 }
 .skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
 }
 .skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
 }
 .skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4b0027a2;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover:before{
    width: 100%;
}

 .skills-content .progress{
    padding: 1rem 0;
 }
 .skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
 }
 .skills-content .progress h3 span{
    color: var(--text-color);
 }
 .skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
 }
 .skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
 }
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 60%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 60%;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}
.contact h1{
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 10px;

    text-align: center;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: transparent;
    color: var(--text-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .textarea-field textarea{
    
}